<!DOCTYPE html>
<html>
    <head>
        <title>Cool App</title>
        <meta charset="utf8">
    </head>
    <body>
    		<p>Вот такое вот крутое приложение!</p>
    		<h1>Лица:</h1>
        <%= face %>
    </body>
</html>
